#test {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 200px;
  height: 200px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 200px;
  width: 200px;
  background-image: url("../img/logo.png");
  background-size: cover;
  background-color: #fff;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
  background-color: aliceblue;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card h1 {
  margin: 1em;
  background-color: rgb(230, 230, 230);
}

.card p {
  padding: 1em;
}

.kruisje {
  float: right;
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-image: url("../img/kruisje.png");
  background-size: cover;
  visibility: hidden;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}
